{% extends 'base.html.twig' %}

{% block containte %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-4">Products:</h2>
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container-show p-4">
                        {% for wl in wls %}
                            <div class="row">
                                <div class="col-2 text-center">
                                    
									<img src="public/images/phone.png" alt="photo">
                                    <div class="mt-3">
                                        <div>{{ wl.getNomComplet() }}</div>
										<div>{{ wl.getImagePath() }}</div>
                                        <div>{{ wl.getAge() }}</div>
                                        <div>{{ wl.getVilleEtLieuDeDisparition() }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}
