{% extends "moukhtafoun/index.html.twig" %}
{% block main %}
{% endblock %}
{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold ">
            {{ pr.getNomComplet() }}
        </h1>

        <div class="py-10 ">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    Created by: Code With Dary
                </h2>

                <p class="text-sm text-gray-600">
                    28-01-2022 4 min. read
                </p>
            </div>
             <div class="inline-block sm:pt-2">
                <h2 class="font-bold">
                    Created by: Code With Dary
                </h2>

                <p class="text-sm text-gray-600">
                    28-01-2022 4 min. read
                </p>
            </div>
        </div>

        <img
            src="{{ asset('images/' ~ pr.getImage()) }}"
            class="rounded-xl  shadow-xl"
            alt="Icon of Code With Dary"
            width="250"
            height="150"
        />

        <p class="text-xl py-6">
            {{ pr.getAge() }}
        </p>

    
    </div>
{% endblock %}