{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}
{% block main %}
{% endblock %}
{% block containte %}
       <h2>Contact Form</h2>
    <br />
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        

        {{ form_end(form) }}
    </div>
{% endblock %}   