{% extends 'base.html.twig' %}

{% block title %}Temoignage PAR TELEPHONE
{% endblock %}
{% block main %}{% endblock %}
{% block containte %}

	<h1>
		<i>TEMOIGNAGE PAR TELEPHONE :</i>
	</h1>
	<p>
		<i>
			<b>*Pour le temoignage PAR TELEPHONE veuillez appeler: 19</b>
		</i><br>
		<br><i>
			<b>*En cas de besoin des pompier veuillez appeler: 15</b>
		</i><br>
		<br><i>
			<b>*Merci pour votre collaboration</b>
		</i><br>
	</p>
	<style>
		h1 {
			margin-top: 10%;
			margin-left: 17%;
			color: black;
		}
		p {
			margin-left: 20%;
			margin-top: 5%;
			color: black;
			font-size: 120%;
		}
		b {
			color: red;
		}
	</style>
{% endblock %}
{% block foot %}{% endblock %}
